* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}


.login-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FFFF;
  position: relative;
  z-index: 2; /* Set a higher z-index for the whole content */
}
.login-header{
  display: inherit;
  justify-content: center;
}

.top-background {
  position: absolute;
  top: -50px; 
  width: 100%;
  height: 50%;
  object-fit: cover;
  z-index: 1; 
}

.bottom-background {
  position: absolute;
  bottom: -150px; 
  width: 100%;
  height: 50%; 
  z-index: 1;
  object-fit: cover;

}

.login-logo {
  position: relative;
  z-index: 1;
}

.logo-input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-image {
  width: 140px;
  height: 140px;
  position: relative;
}

.login-container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 35px  0px 90px 0;
}

.input-group {
  margin-top: 7px;
  width: 100%; 
  text-align: center;
  position: relative;
  z-index: 2;
}

/* Modify input box */
input {
  width: 100%;
  max-width: 500px;
  height: 40px; 
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  
}


.login-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.login-button button {
  font-weight: 800;
  width: 60%;
  padding: 10px;
  background-color: #3d5030;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 10px;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
}

.login-button button:hover {
  background-color: #031b06;
}
